*{
    /* border: solid 1px black; */
}

:root{
    --bsf-green:#1ABC9C;
    --bsf-darker:#2C3E50;
    --bsf-dark:#3A546D;
    --bsf-light:#FFFFFF;
    --bsf-foot:#3A546D;
    --bsf-copy:#2C3E50;
}


img{
    max-width: 100%;
}

.avatar{
    max-width: 25%;
}

.navbar{
    background-color: var(--bsf-darker);
}

.hero,.about{
    background-color: var(--bsf-green);
    }

.end{
    background-color: var(--bsf-foot);
}

.copy{
    background-color: var(--bsf-copy);

}

.star::before{
    content:'' ;
    border: 0.1rem solid;
    background-color:currentColor;
    width: 10vw;
    max-width: 120px;
    display: inline-block;
    vertical-align: middle;
}

.star::after{
    content:'' ;
    border: 0.1rem solid ;
    background-color:currentColor;
    width: 10vw;
    max-width: 120px;
    display: inline-block;
    vertical-align: middle;
}

.bot{
    width: 5rem;
    margin:0 auto;
    text-align: center;
    color:#1ABC9C;
    border: #FFFFFF;
    color: #FFFFFF;
}


i{
    height: 40px;
    width: 40px;
    color:currentColor;
}  

.col>h4::after{
    content:'' ;
    border:1px solid lightgrey;
    width: 100%;
    display: inline-block;
    vertical-align: middle;   
}

a{
    text-decoration-: none;
}